#chart > svg {
    width: 100%;
    height: 100%;
    position: center;
}
.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: white;
    opacity: 0.85;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    color: black;
    font: 14px sans-serif;
    padding: 10px;
    text-align: center;
}
.legend {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60%;
}
text {
    font: 12px sans-serif;
    fill: #FFF;
}
.axis text {
    font: 12px sans-serif;
}
.axis path{
    fill: none;
    stroke: #FFF;
}
.axis line {
    fill: none;
    stroke: #FFF;
    shape-rendering: crispEdges;
}
.axis .tick line {
    stroke-width: 1;
    stroke: rgba(255, 255, 255, 0.2);
}
.x.axis path {
    display: none;
}